body {
	font: 12px futura, Helvetica, sans-serif;
	background-color: #111;
}

h1 {
	padding: 0;
	margin: 0;
	color: yellow;
	font-size: 26px;
}

#wrapper {
	width: 800px;
	margin: auto;
}

#canvas {
	margin-top: 10px;
	background: #333;
}

#stats {
	background-color: #fff;
	opacity: .5;
	display: block;
	position: absolute;
	top: 50px;
	right: 200px;
	height: 30px;
}

#footer {
    color: #fff;
    width: 100%;
}

#footer .left {
    float: left;
    width: 50%;
}

#footer .right {
    float: left;
    width: 50%;
    text-align: right;
    color: #FF008E;
    font-weight: bold;
}
